<doctype html>
<html>
<head>
<link rel="stylesheet" href="/static/js/stylesheet.css">
	<title>IT Inventory</title>
	
</head>
<body>
	{{{body}}}
</body>
<script type="text/javascript" src="/static/js/Inventory.js"></script>
</html>