  <h1>IT Inventory - Index</h1>

    <div>
      <a href="/laptops">Laptops</a>
      - Add or remove laptops
    </div>

    <div>
      <a href="/laptop_docs">Documentation</a>
      - Add or remove laptop documentation
    </div>

    <div>
      <a href="/location">Locations</a>
      - Add or remove locations
    </div>

    <div>
      <a href="/peripherals">Peripherals</a>
      - Add or remove peripherals and assign/unassign users to peripherals
    </div>

    <div>
      <a href="/users">Users</a>
      - Add/remove/edit users
    </div>    

	<div>
      <a href="/laptop_laptopdocs">Documentation Management</a>
      - Assign/unassign docs to laptops
    </div>  
	
	<!--  rolled into other pages
	
    <div>
      <a href="/laptopManagement">Laptop Management</a>
      - Assign/unassign users to laptops
    </div>  
-->